body {
	line-height: 1.2;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}

.main *{
	scrollbar-color: 	var(--dark);
	scrollbar-width: 	thin;
}

.main *::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rba(0,0,0,0);
}

.main *::-webkit-scrollbar
{
    width: 				6px;
    height:				6px;
}

.main *::-webkit-scrollbar-thumb
{
    background-color: var(--dark);
}



.img-profile {
	width: 2rem;
	height: 2rem;
}

.map_filter_title_icon {
	display: none;

}

.filters_select_btn-group {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

}

.filter_flex_1 {
	flex-grow: 1;
}


.filter_flex_2 {
	flex-grow: 2;
}

.filter_flex_20 {
	flex-basis: 20px;
}

.head_cells_search_bar {
	background: var(--light);
	color: var(--dark);
	border-bottom: 2px solid;
	border-bottom-color: var(--secondary);
}

.head_cells_search_bar i {
	color: var(--dark) !important;
	padding: 1px 0px 1px 5px;
}

.red_movil_head_cells_search_bar input {
	background: var(--light);
	border-width: 0px;
	border-style: none none solid;
	font-size: 11px;
	margin: 0px;
	padding: 1px 0px 1px 5px;
	text-align: left;
}

.map_filters {
	width: 320px !important;
	height: 570px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.map_filters_title {
	width: 319px;
	margin: 0px;
	padding: 5px;
	padding-left: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.map_filters_accordion_sel {
	flex-basis: 130px;
	white-space: nowrap;
    overflow: hidden;
}

.map_filters_accordion>i {
	font-size: 3ex !important;
	color: var(--dark);
	padding-right: 2px;
	padding-left: 2px;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.map_filters_accordion_content {
	position: fixed;
	display: none;
	padding: 0px;
	padding-bottom: 2px;
	overflow-y: hidden;
	overflow-x: hidden;
	min-width: 150px;
	max-height: 170px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	z-index: 9999;
	/* Sit on top */
}

.map_filters_accordion_content ul {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;

}

.map_filters_accordion_content ul>li {
	border: none;
	padding: 2px 2px 2px 6px;
	text-decoration: none !important;
	display: block;
	white-space: nowrap;
}

.map_filters_accordion_content ul>li:hover {
	color: var(--light) !important;
	background: var(--secondary);
	/* For browsers that do not support gradients */
}

.red_movil_map_filters_accordion_content li a {
	padding: 2px 2px 2px 6px;
	color: var(--main-tx-dark-color) !important;
	text-decoration: none !important;
	display: block;
	font-size: 11px !important;
}

.red_movil_map_filters_accordion_content li a:hover {
	color: var(--main-bg-input-color) !important;
}








@media only screen and (min-width: 1360px) {
	.main {
		margin-top: 74px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center
	}

	.main>div {
		margin-left: 10px;
		margin-right: 10px;
	}

	#map {
		width: 650px !important;
		height: 570px;
		border: 1px solid var(--dark);
		margin-right: 4px;
	}


}